* {
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
}
.homepage {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.navbar {
  height: 10vh;
  width: 70vw;

  background-color: green;
  background: linear-gradient(90deg, #292982, #207720);
  border-radius: 3vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.options a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.options {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.e_cycle {
  height: 50%;
  width: 13%;
  border-radius: 2vh;
  background-color: rgb(40, 211, 40);
  color: white;
  border: none;

  font-size: auto;
  font-weight: 900;
}

/* .evolve{
  
  height: 27%;
  width: 31%;
  background-image: url("/public/logo\(4\).png");
  background-size: cover;
} */

.evolve {
  height: 60%;
  display: flex;
  align-items: center;
  position: relative;
}
.evolve img {
  height: 45%;
}
.about_us {
  height: 8%;
  width: 13%;
  border-radius: 3vh;
  background-color: rgb(40, 211, 40);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
}

.hiddendiv {
  display: none;
}

.hiddenoptions {
  display: none;
}

.aboutpage {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.aboutpage_img_para {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
}

.aboutpage_img_para img {
  border-radius: 3vh;
}

.para {
  height: 40vh;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 3vh;
  width: 40vw;
  text-align: center;
}

.domains {
  height: 8%;
  width: 13%;
  border-radius: 3vh;
  background-color: rgb(40, 211, 40);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
}
@media (max-width: 1214px) {
  .navbar {
    display: none;
  }
  .hiddendiv {
    display: block;
    height: 10vh;
    width: 90vw;

    background-color: green;
    background: linear-gradient(90deg, #292982, #207720);
    border-radius: 2vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hiddendiv img {
    margin-left: 3vh;
  }
  .hiddendiv i {
    margin-right: 3vh;
    font-size: 5vh;
    color: rgb(52, 243, 52);
  }

  .about_us {
    height: 10vh;
    width: 25vw;
    border-radius: 3vh;
    background-color: rgb(40, 211, 40);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
  }

  .evolve img {
    height: 20vh;
  }

  .hiddenoptions {
    height: 50vh;
    width: 70vw;
    background-color: rgb(40, 211, 40);

    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    z-index: 1;
  }

  .hiddenoptions a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
    font-size: 4vh;
  }

  .domains {
    height: 10vh;
    width: 25vw;
    border-radius: 3vh;
    background-color: rgb(40, 211, 40);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
  }
}

@media (max-width: 448px) {
  .about_us {
    width: 40vw;
  }
}

@media (max-width: 1035px) and (min-width: 810px) {
  .aboutpage_img_para img {
    height: 50vh;
    width: 45vw;
  }
}
@media (max-width: 810px) {
  .aboutpage {
    height: 120vh;
    justify-content: space-between;
  }
  .aboutpage_img_para {
    width: 100vw;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
  }

  .aboutpage_img_para img {
    height: 40vh;
  }
  .para {
    width: 90vw;
    height: 20vh;
  }

  .domains {
    width: 40vw;
  }
}
